<html>
<body>
  <p class="heading">VEG MENU</p>
  <div class="gallery-image">
    <div class="img-box">
      <img src="../../assets/images/chole.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Chole</p>
        </div>
      </div> 
    </div>
    <div class="img-box">
      <img src="../../assets/images/noodles.png" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Noodles</p>
          
        </div>
      </div>
    </div>
    <div class="img-box">
      <img src="../../assets/images/paneer.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Paneer Kadai</p>
          
        </div>
      </div>
    </div>
    <div class="img-box">
      <img src="../../assets/images/p4.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Veg Kolhapuri</p>
         
        </div>
      </div> 
    </div>
    <div class="img-box">
      <img src="../../assets/images/thali.png" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Veg Thali</p>
           <p class="opacity-low">Cityscape</p> -->
        </div>
      </div> 
    </div>
    <div class="img-box">
      <img src="../../assets/images/sandwich.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Veg Sandwich</p>
    
        </div>
      </div> 
    </div>

    <div class="img-box">
      <img src="../../assets/papad.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>papad</p>
    
        </div>
      </div> 
    </div>

    <div class="img-box">
      <img src="../../assets/paneer.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>paneer</p>
    
        </div>
      </div> 
    </div>

    <div class="img-box">
      <img src="../../assets/Ananas keshri shira.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Ananas keshri shira</p>
    
        </div>
      </div> 
    </div>

    <div class="img-box">
      <img src="../../assets/Misal pav.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Misal pav.jpg</p>
    
        </div>
      </div> 
    </div>
  </div>
</body>
</html>    

 <!--<div class="container" mt-4 mb-4>
  <h1 class="text-center">Veg<span class="">Dishes</span></h1>
  {{result.length}}
  
   <div class="row">
    <ng-container  *ngFor="let dt of result ">
      <div class="card col-md-3"> 
        <img src="{{dt.image_url}}">
  
        <p ><strong>{{dt.name}}</strong></p>
  
        <p><b>₹{{dt.price}}</b></p>
  
        <button class="btn btn-warning"(click)=addtocart(dt) >Add to cart</button>
           
          </div>
    </ng-container>
  
  </div>
  </div>  -->