/* *{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    } */

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.about-section{
    background-image: url("src/assets/images/thali.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
  
}

.inner-container{
    width: 55%;
    float: right;
    background-color: white;
    padding: 100px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 0;
}

.text{
    font-size: 20px;
    color: black;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}