<div class="container">
    <img [src]="food.imageUrl" [alt]="food.name">
</div>
<div class="details">
    <div class="header">
        <span class="name">
            {{food.name}}
        </span>
        <span class="favorite {{food.favorite?'':'not'}}">❤️️</span>
        
        <div class="origins">
            <span *ngFor="let origin of food.origins">
                {{origin}}
              </span>

        </div>

        <div class="tag">
            <app-tags [foodPageTags]="food.tags" justifyContent="start"></app-tags>
        </div>
        <div class="cook-time">
            <span>Time to cook about🕑
                <strong>
                    {{food.cookTime}}
                </strong>
         </span>
          </div>
          
        <div class="price|currency">
          <span>
          {{food.Price}}
          </span>
        </div>
        <button (click)="addToCart">Add to Cart</button>
        </div>

        
    

