.card{
    height: 60vh;
    margin: 25px;
    padding: 25px;
}
.center{
    top:50%;
    left: 50%;
    transform: translate(-45%, -45%);
    text-align: center;
    position: absolute;
}
.center img{
    color: inherit;
    border: none;
    outline: none;
    width: 160px;
    height: 105px;
    text-decoration: none;
    margin: 20px 0px;
}

.card-table{
    display: flex;
    min-width: none;
    position: relative;
    word-wrap: break-word;
    border: 1px solid black;
    border-radius: .25rem;
    flex-direction: column;
}
.center .btn{
    margin-top: 25px !important;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 70px;
    border-radius: 3px !important;
}





















/* .card{
    height:60vh;
    margin:25px;
    padding:25px;
}

.center{
    position: absolute;
    top:133%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align:center;
} */
/*
/* .card-table{
    position:relative;
    display:flex ;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border:1px solid rgba(0,0,0, 0.2);
    border-radius: .25rem;
}

.center .btn{
    font-size: 14px !important;
    margin-top: 20px !important;
    font-weight: 400;
    padding: 12px 72px;
    border-radius: 3px !important;
} */


