div{
    display:flex;
    flex-wrap:wrap;

}

div a{
    background-color: brown;
    padding: .3rem 1 rem;
    margin: .2 rem .15rem;
    border-radius: 10rem;
    color: blue;
    font-weight: 600;
}