body{font-family: 'Raleway', sans-serif ;}

.tab-style{
font-size:18px;
width:50%;
background-image: url("src/assets/images/wood_1.png");
text-align:center;
}
.nav-tabs > li > a {
    margin-right: 0px;
    color:white;
}

.modal-body{
  background-image:url("src/assets/images/wood_1.png");
background-size:cover;

}

.group2 { 
  position: relative; 
  margin-top: 16px; 
}

.btn-block{
margin-top:20px;
margin-bottom:20px;
font-size:18px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {   background-color:#e5ecf4;
color:#4a89dc;}

.modal-header{background-color:#e5ecf4;}

.group { 
  position: relative; 
  margin-top: 30px; 
}


.input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  background: none;
  color: #636363;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #757575;
}

.input:focus { outline: none; }


/* Label */

.label {
  color: #757575; 
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: -10px;
  top: 10px;
  transition: all 0.2s ease;
}


/* active */

.input:focus ~ .label, .input.used ~ .label {
  top: -20px;
  transform: scale(.75); left:-15px;
  /* font-size: 14px; */
  color: #4a89dc;
}





/* active */

.input:focus ~ .bar:before, .input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
  position: absolute;
  height: 60%; 
  width: 100px; 
  top: 25%; 
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}


/* active */

.input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}


@media  screen and (max-width: 767px) and (min-width: 576px){
  #myModal{margin-left:20%;
            margin-right:20%;}

  #forgot-password{margin-left:20%;
            margin-right:20%;}
} 


@media screen and (min-width: 768px) {
  
  #myModal .modal-dialog  {width:500px;}
  
  #forgot-password .modal-dialog{width:500px;}
  
  .modal-body{padding-left:50px;
              padding-right:50px;}
}


.modal-body{
    background-image:url("src/assets/images/wood_1.png");
background-size:cover;

}

em{display:none;}


