<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    
    <link rel="stylesheet">

    <body>
    
    <nav><a href="#" class="focus">Log In</a></nav>
    
    <form>
    
        <h2>Admin Login</h2>
    
        <input type="text" name="username" class="text-field" placeholder="Username" />
        <input type="password" name="password" class="text-field" placeholder="Password" />
        
      <a href=""><input type="button"  class="button" value="Log In" /></a>
    
    </form>
    
    </body>