<html>
<body>
  <p class="heading">SOUTH INDIAN MENU</p>
  <div class="gallery-image">
    <div class="img-box">
      <img src="../../assets/idly.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>idly</p>
        </div>
      </div> 
    </div>
    <div class="img-box">
      <img src="../../assets/vada.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>vada</p>
          
        </div>
      </div>
    </div>
    <div class="img-box">
      <img src="../../assets/Appam.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Appam</p>
          
        </div>
      </div>
    </div>
    <div class="img-box">
      <img src="../../assets/puttu.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>puttu</p>
         
        </div>
      </div> 
    </div>
    <div class="img-box">
      <img src="../../assets/Masala Dosa.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Masala Dosa</p>
          <p class="opacity-low">Cityscape</p> -->
         </div>
      </div> 
    </div>
    <div class="img-box">
      <img src="../../assets/Dosa.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Dosa</p>
        </div>
      </div> 
    </div>

    <div class="img-box">
      <img src="../../assets/Medu vada.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Medu vada</p>
        </div>
      </div> 
    </div>

    <div class="img-box">
      <img src="../../assets/Paruppu vada.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Paruppu vada</p>
        </div>
      </div> 
    </div>

    <div class="img-box">
      <img src="../../assets/Dosa.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Mysore Masala Dosa</p>
        </div>
      </div> 
    </div>

    <div class="img-box">
      <img src="../../assets/Aviyal.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Aviyal</p>
        </div>
      </div> 
    </div>

  </div>
</body>
</html>  

<!--<div class="container" mt-4 mb-4>
  <h1 class="text-center">Southindian<span class="">Dishes</span></h1>
  {{result.length}}-->
<!--   
  <div class="row">
    <ng-container  *ngFor="let dt of result ">
      <div class="card col-md-3"> 
        <img src="{{dt.image_url}}">
  
        <p ><strong>{{dt.name}}</strong></p>
  
        <p><b>₹{{dt.price}}</b></p>
  
        <button class="btn btn-warning"(click)=addtocart(dt) >Add to cart</button>
           
          </div>
    </ng-container>
  
  </div>
  </div> -->