<app-header></app-header>
<!-- <app-search></app-search>
 <app-tags></app-tags> 
 <app-foodpage></app-foodpage>  -->
<!-- <app-search></app-search>  -->
<div class="food">
<main class="container-fluid cover  ">
	<div class="row align-items-center justify-content-center justify-content-x-start vh-80">
		<div class="col col-sm-6 text-center text-xl-center col-xl-4 offset-xl-0">
			<h1 class="mb-4">Food Zone</h1>
			<h3 class="mb-5 subtitle-mb">Healthy Food, Happy Mood</h3>
			<div class="input-group mb-3">
				<input type="text" class="form-control" placeholder="Enter Food Name" aria-label="Search">
				<div class="input-group-prepend">
					<button class="btn bg-warning text-light text-uppercase p-3" type="button">Search</button>
				</div>
			</div>
	
			
			<!-- [value]="searchItem" -->
		</div>
	</div>
</main>
</div>

<!-- <ul>
	<li  *ngFor="let food of foods">
	  <a routerLink="/food/{{food.id}}">
	  <img src="{{food.imageUrl}}" alt="food img">
	  <div class="content">
		<div class="name">
		  {{food.name}}
		</div>
		<span class="favorite {{food.favorite?'':'not'}}">❤️️</span>
		<ngx-star-rating  [id]="'rating'"></ngx-star-rating>-->
  
		<!--<star-rating [value]="" 
		  [totalstars]="5" 
		  checkedcolor="red" 
		  uncheckedcolor="black" 
		  [size]="24px" [readonly]="false" 
		  ></star-rating>-->
	  <!-- </div>
  
  
	<div>
	<button >Add to Cart</button>
	</div> --> -->
  
	  
	  <!-- </a>
	</li>
  </ul>
   -->