

  /* ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type:none;
    padding: 0;

}
ul li a{
    height: 35rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
}

li a:hover{
    opacity:0.9 ;
    cursor: pointer;

} */
.navbar {
    background-color: #00121b;
}
.nav-item dropdown input:hover{
    color: white;
}
.cover {
    background: url('src/assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}
.food{
    color: white;
    font-size: larger;
}

.vh-80 {
    min-height: 84vh;
}

.sign__container {
    width: 60%;
}

@media (min-width: 1200px) {
    .sign__container {
        width: 350px;
    }
    .subtitle-mb{
        margin-bottom: 5.5rem!important;
    }
}

/* header cart */
.header-cart {
    position:relative;
      display:inline-block;
    margin-right:40px;
  }
  
  .header-cart img {
          width: 40px;
          background-color: #00121b;
      }
  
  .header-cart span {
    background-color: #f8aa02;
    color: #fff;
    position: absolute;
    width: 24px;
    height: 20px;
    top: -5px;
    right: -15px;
    text-align: center;
    font-size: 12px;
    padding-top: 6px;
    border-radius:100%;
  }

  /* search
  div{
    display:flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;

}
div input{
    border-radius: 10rem 0 0 10rem;
    border: none;
    height: 3rem;
    width: 20rem;
    background-color: #f1f1f1;
    padding: 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
}
div button{
    color: gray;
    height: 3rem;
    width:5rem;
    font-size: 1rem;
    border-radius: 0 10rem 10rem 0;
    border: none;
    background-color: darkgreen;
    color: #f1f1f1;
    outline: none;
    opacity: .9;
}
div button:hover{
    opacity: 1;
    cursor: pointer;
} */
